{% extends 'base.html' %}
{% load static %}

{% block styles %}

<div class="col-lg-6">
    <H4> LOGIN </H4>
    <form action="" method="post">
        <div class="card2 card border-0 px-4 py-5"><
            <div class="line">{{msg}}</div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Username</h6>
                            </label>
                            <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address">
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                            </label>
                            <input type="password" name="password" placeholder="Enter password">
                        </div>
                        <div class="row px-3 mb-4">
                           
                            <a href="#" class="ml-auto mb-0 text-sm">Forgot Password?</a>
                        </div>
                        <div class="row mb-3 px-3">
                            <input type="submit" class="btn btn-primary" value="Login" href="{% url 'user' %}">
                        </div>
                        

                    </div>
                </form>
            </div>
        </div>
       
    </div>
</div>
{% endblock content %}